#Feature6_0 .ant-row > .ant-col > .kctk3wja3dt-editor_css {
  display: inline-block;
}
#Feature6_0 .ant-row > .ant-col > .kctjzr0p3ul-editor_css {
  display: inline-block;
}
#Feature6_0 .ant-row > .ant-col > .kctk0pwgf1p-editor_css {
  display: inline-block;
}
#Banner5_0 .home-page > .kcxzzfruow-editor_css {
  top: 15%;
}
#Banner5_0 .home-page > .kcxwzhfpex-editor_css {
}
#Banner5_0 .kcz8vxyiuvj-editor_css {
}
.ant-menu > .ant-menu-item > .kcz8vuom79d-editor_css {
  width: 24px;
}
.ant-menu-item > .item-sub-item > .kcz8wnt2acf-editor_css {
  width: 32px;
}
.ant-menu-item > .item-sub-item > .kcz8vvjskoi-editor_css {
  color: #000000;
  width: 32px;
  background-color: rgba(216, 24, 24, 0);
}
#Banner5_0.kctityxly1r-editor_css {
  min-height: 70vh;
}
#Banner5_0
  .banner5-title-wrapper
  > .banner5-button-wrapper
  > .kd5z8m3n24l-editor_css {
  background-clip: ;
  background-color: #1890ff;
  background-image: url('');
}
#Banner5_0 .home-page > .banner5-title-wrapper > .kd5z81k44h-editor_css {
  line-height: 1;
  color: rgb(24, 144, 255);
}
