
.hero {
    position: relative;
    background: no-repeat center;
    background-size: cover;
    height: 100vh;
    min-height: 34em;
    max-height: 42em;
  }
  
  .hero .contain {
    position: relative;
    height: 100%;
    padding: 7.5em 1.5em 0;
  }
  
  .home .hero {
    background-color: white;
  }
  
  .home .hero .bg_graphic {
    position: absolute;
    overflow: hidden;
    opacity: .25;
    max-width: 100em;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .home .hero .bg_graphic video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100em;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url(/web/20200602172529im_/http://outreach.io/_resources/video/homepage-hero.png) no-repeat center;
    background-size: cover;
  }
  
  .home .hero .unleashed-logo {
    height: 40px;
    width: 245px;
    margin-bottom: 20px;
  }
  
  .home .hero .video-right {
    float: right;
    width: 30em;
  }
  
  .home .hero .hero_content {
    text-align: center;
  }
  
  .home .hero .hero_content h1 {
    max-width: 7.222222222em;
    margin: 0 auto .75em;
  }
  
  .home .hero .hero_content h3 {
    max-width: 16em;
    margin: 0 auto 3.5rem;
  }

  

@media (max-width: 420px) {
    .home .hero {
      color: #fff;
    }
    .home .hero .bg_graphic {
      position: absolute;
      overflow: hidden;
      opacity: 1;
      max-width: none;
      margin: 0 auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .home .hero .bg_graphic img {
      max-width: none;
    }
    .home .hero .unleashed-logo {
      height: 100%;
      width: 100%;
      margin-bottom: 20px;
    }
    .home .hero .video-right {
      display: none;
    }
    .home .hero .hero_content h1, .home .hero .hero_content h3 {
      color: #fff !important;
    }
  }

  

@media (min-width: 56em) {
    .home .hero {
      background: linear-gradient(to right, #6DBEE8 0%, #6DBEE8 40%, #A4DAF9 60%, #A4DAF9 100%);
    }
    .home .hero .bg_graphic {
      opacity: 1;
    }
    .home .hero .hero_content {
      text-align: left;
    }
    .home .hero .hero_content h1, .home .hero .hero_content h3 {
      color: white;
    }
    .home .hero .hero_content h1 {
      margin: 0 0 .5em;
    }
    .home .hero .hero_content h3 {
      margin: 0 0 3.5rem;
    }
    .home .hero .hero_content .actions {
      -webkit-box-pack: start;
      justify-content: flex-start;
    }
    .home .hero .hero_content .actions .button {
      margin: 0 1em 0 0;
    }
  }

  

@media (max-width: 30em) {
    .no_nav .logo-white {
      margin-bottom: 5em;
    }
    .no_nav .hero-img {
      bottom: 30px !important;
      right: 10px;
    }
    .no_nav .hero.inner {
      max-height: 645px;
    }
    .no_nav .success_contain {
      padding-top: 0;
    }
    .no_nav .success_contain .success_content .content {
      padding: 0 6%;
    }
    .no_nav .success_contain .success_content .content.has_form .form_contain {
      padding-bottom: 60px;
    }
  }
  
  @media only screen and (max-width: 1250px) and (min-width: 1000px) {
    .no_nav .hero_content .content {
      max-width: 45em;
    }
    .no_nav .hero.inner {
      max-height: 400px;
    }
  }
  
  @media only screen and (max-width: 3000px) and (min-width: 900px) {
    .success_contain {
      padding-top: 0 !important;
      margin-top: -60px !important;
    }
  }
  
  @media only screen and (max-width: 1100px) and (min-width: 440px) {
    .no_nav .hero_content .hero-img {
      display: none;
    }
    .no_nav .hero_content .content {
      margin-top: 11%;
      max-width: 45em;
    }
    .no_nav .hero.inner {
      max-height: 400px;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .no_nav .logo-white {
      margin: 0 auto !important;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .sign-in-nav {
      display: none;
    }
  }
  
  @media only screen and (max-width: 1100px) and (min-width: 410px) {
    #homepage_h1 {
      color: #fff !important;
    }
  }
  
  @media only screen and (max-width: 840px) {
    #homepage_h1 {
      font-weight: bold;
    }
  }
  
  .hero {
    position: relative;
    background: no-repeat center;
    background-size: cover;
    height: 100vh;
    min-height: 34em;
    max-height: 42em;
  }
  
  .hero .contain {
    position: relative;
    height: 100%;
    padding: 7.5em 1.5em 0;
  }
  
  .home .hero {
    background-color: white;
  }
  
  .home .hero .bg_graphic {
    position: absolute;
    overflow: hidden;
    opacity: .25;
    max-width: 100em;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .home .hero .bg_graphic video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100em;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url(/web/20200602172529im_/http://outreach.io/_resources/video/homepage-hero.png) no-repeat center;
    background-size: cover;
  }
  
  .home .hero .unleashed-logo {
    height: 40px;
    width: 245px;
    margin-bottom: 20px;
  }
  
  .home .hero .video-right {
    float: right;
    width: 30em;
  }
  
  .home .hero .hero_content {
    text-align: center;
  }
  
  .home .hero .hero_content h1 {
    max-width: 7.222222222em;
    margin: 0 auto .75em;
  }
  
  .home .hero .hero_content h3 {
    max-width: 16em;
    margin: 0 auto 3.5rem;
  }
  
  .home .hero .hero_content .actions {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
  }
  
  .home .hero .hero_content .actions .button {
    display: block;
    margin: 0 .5em 1em;
    width: 13em;
    text-align: center;
  }
  
  .hero.inner {
    height: auto;
    min-height: 0;
    max-height: none;
  }
  
  .hero.inner h1 {
    margin-bottom: .5em;
  }
  
  .hero.success {
    position: relative;
    margin-bottom: 4.5em;
  }
  
  .hero.success .success_lines_contain {
    position: absolute;
    top: 125%;
    left: 0;
    right: 0;
    height: 17.5em;
  }
  
  .hero.success .success_lines_contain img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    min-width: 100em;
    height: 17.5em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .hero.centered {
    text-align: center;
  }
  
  .hero.centered .hero_content h1 {
    margin: 0 auto .5em;
  }
  
  .hero.centered .hero_content h3 {
    margin: 0 auto !important;
  }
  
  .hero.centered .hero_content .button {
    margin-top: 4em;
  }
  
  .hero.white_bg {
    background: white;
  }
  
  .hero.gradient_bg, .hero.dark_bg, .hero.img_bg {
    position: relative;
    background: linear-gradient(to left, #443ec2 0%, #5951ff 100%);
  }
  
  .hero.gradient_bg .content h6, .hero.gradient_bg .content h1, .hero.gradient_bg .content h3, .hero.gradient_bg .content h4, .hero.dark_bg .content h6, .hero.dark_bg .content h1, .hero.dark_bg .content h3, .hero.dark_bg .content h4, .hero.img_bg .content h6, .hero.img_bg .content h1, .hero.img_bg .content h3, .hero.img_bg .content h4 {
    color: white;
  }
  
  .hero.gradient_bg .content h6.page_links, .hero.dark_bg .content h6.page_links, .hero.img_bg .content h6.page_links {
    color: rgba(255, 255, 255, 0.4);
  }
  
  .hero.gradient_bg .content h6.page_links a, .hero.dark_bg .content h6.page_links a, .hero.img_bg .content h6.page_links a {
    margin: 0 .5em;
    color: rgba(255, 255, 255, 0.4);
  }
  
  .hero.gradient_bg .content h6.page_links a:hover, .hero.dark_bg .content h6.page_links a:hover, .hero.img_bg .content h6.page_links a:hover {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .hero.gradient_bg .content h6.page_links a.active, .hero.dark_bg .content h6.page_links a.active, .hero.img_bg .content h6.page_links a.active {
    color: white;
  }
  
  .hero.gradient_bg .content h4, .hero.dark_bg .content h4, .hero.img_bg .content h4 {
    margin-bottom: .75rem;
  }
  
  .hero.gradient_bg .content .link, .hero.dark_bg .content .link, .hero.img_bg .content .link {
    display: block;
    margin-bottom: .75rem;
  }
  
  .hero.gradient_bg .content .link:last-child, .hero.dark_bg .content .link:last-child, .hero.img_bg .content .link:last-child {
    margin-bottom: 5.5rem;
  }
  
  .hero.gradient_bg .content .links .button, .hero.dark_bg .content .links .button, .hero.img_bg .content .links .button {
    display: block;
    width: 18em;
    margin-bottom: 1.5em;
    text-align: center;
  }
  
  .hero.gradient_bg .content .links .button:last-child, .hero.dark_bg .content .links .button:last-child, .hero.img_bg .content .links .button:last-child {
    margin-bottom: 0;
  }
  
  .hero.gradient_bg .contain, .hero.dark_bg .contain, .hero.img_bg .contain {
    position: relative;
    z-index: 2;
  }
  
  .hero.gradient_bg .swoop_contain, .hero.dark_bg .swoop_contain, .hero.img_bg .swoop_contain {
    position: absolute;
    z-index: 1;
    bottom: -.25em;
    left: 0;
    width: 100%;
    height: 4.375em;
    overflow: hidden;
  }
  
  .hero.gradient_bg .swoop_contain .swoop, .hero.dark_bg .swoop_contain .swoop, .hero.img_bg .swoop_contain .swoop {
    position: absolute;
    bottom: 0;
    left: 50%;
    min-width: 70em;
    width: 100%;
    height: 4.375em;
    max-width: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .hero.dark_bg {
    background: #2D2342;
  }
  
  .hero.img_bg {
    max-width: 125em;
    margin: 0 auto;
    background: no-repeat center;
    background-size: cover;
  }
  
  .hero.img_bg .hero_content h3 {
    margin: 0;
  }
  
  .product .hero .content {
    position: relative;
    z-index: 4;
  }
  
.platform_block .bg_graphic {
    display: none;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 70%;
    opacity: .35;
  }
  
  .platform_block .bg_graphic img {
    float: right;
    width: 100%;
    max-width: 45em;
  }
  
  .platform_block .bg_graphic.fade::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, white 75%, white 100%);
  }
  
  .platform_block .bg_graphic.fade.dark::before {
    background: linear-gradient(to left, rgba(45, 35, 66, 0) 0%, #2d2342 75%, #2d2342 100%);
  }
  
  .platform_block.small_top {
    padding-top: 6em;
  }
  
  .platform_block.small_top .bg_graphic {
    top: 4.5em;
  }
  
  .platform_block .heading {
    position: relative;
    margin-bottom: 5em;
    padding-bottom: 5em;
  }
  
  .platform_block .heading h1 {
    margin-bottom: .25em;
  }
  
  .platform_block .heading p {
    max-width: 30em;
    margin: 0;
  }
  
  .platform_block .heading .list_cols {
    max-width: 45em;
    margin-top: 2em;
  }
  
  .platform_block .heading .list_cols ul {
    margin: 0;
  }
  
  .platform_block .heading .list_cols ul li {
    font-size: 1.25em;
    font-weight: 200;
    margin-bottom: .25em;
  }
  
  .platform_block .heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3.75em;
    border-bottom: 4px solid #D5D2D9;
  }
  
  .platform_block .content {
    margin-bottom: 3em;
  }
  
  .platform_block .content .icon {
    margin-bottom: 2em;
  }
  
  .platform_block .content h3 {
    margin-bottom: .5em;
  }
  
  .platform_block .content p.p-large {
    max-width: 32em;
    margin: 0;
  }
  
  .platform_block .content .columns {
    margin-top: 3.125em;
  }
  
  .platform_block .content .columns .col {
    max-width: 17.5em;
    margin-bottom: 3.5em;
  }
  
  .platform_block .content .columns .col .certification_logo {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 6.5em;
    margin-bottom: 1em;
  }
  
  .platform_block .content .columns .col .certification_logo.truste img {
    width: 4.75em;
  }
  
  .platform_block .content .columns .col .certification_logo.iso img {
    width: 5.625em;
  }
  
  .platform_block .content .columns .col .certification_logo.soc img {
    width: 5em;
  }
  
  .platform_block .content .columns .col .certification_logo.shield img {
    width: 4.375em;
  }
  
  .platform_block .content .columns .col .certification_logo.cloud img {
    width: 8.75em;
  }
  
  .platform_block .content .columns .col h4 {
    margin-bottom: .75em;
  }
  
  .platform_block .content .columns .col p {
    margin: 0;
  }
  
  .platform_block .content .columns .col .link {
    display: block;
    margin-top: 1.75em;
  }
  
  .platform_block .content .links_contain {
    margin-bottom: 5em;
  }
  
  .platform_block .content .links_contain .links {
    margin-top: 2em;
  }
  
  .platform_block .content .links_contain .links .button {
    width: 18em;
    text-align: center;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
  }
  
  .platform_block.dark .heading h1, .platform_block.dark .heading p {
    color: white;
  }
  
  .platform_block.dark .heading::after {
    border-color: rgba(255, 255, 255, 0.2);
  }
  
  .platform_block.dark .content h3, .platform_block.dark .content p {
    color: white;
  }
  
  @media (min-width: 42.5em) {
    .platform_block .bg_graphic {
      display: block;
    }
    .platform_block .contain {
      padding-left: 8em;
    }
    .platform_block .content {
      position: relative;
    }
    .platform_block .content .icon {
      position: absolute;
      top: .25em;
      left: -4em;
      margin: 0;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  
  @media (min-width: 45em) {
    .platform_block .heading .list_cols {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
    }
    .platform_block .heading .list_cols ul {
      width: 31%;
    }
  }
  
  @media (min-width: 60em) {
    .platform_block .columns {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .platform_block .columns .col, .platform_block .columns .filler {
      width: 30%;
      max-width: none !important;
    }
  }
  
  @media (min-width: 67.5em) {
    .platform_block .content .links_contain {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
    }
    .platform_block .content .links_contain div {
      width: 47.5%;
    }
    .platform_block .content .links_contain .links {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      margin-top: 2.75em;
    }
    .platform_block .content .links_contain .links .button {
      margin: 0;
      width: 47.5%;
    }
    .platform_block .content .links_contain .links .button a {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  @media (min-width: 75em) {
    .platform_block .bg_graphic {
      opacity: 1;
    }
  }
  
  .use_cases .hero {
    margin-bottom: 7.5em;
  }
  
  .use_cases .use_case_block {
    position: relative;
    padding-bottom: 8.75em;
  }
  
  .use_cases .use_case_block.no_bottom {
    padding-bottom: 0;
    margin-bottom: -8em;
    z-index: 2;
  }
  
  .use_cases .use_case_block .content {
    max-width: 30.6875em;
    margin: 0 auto 4.5em;
  }
  
  .use_cases .use_case_block .content h1 {
    margin-bottom: .35em;
  }
  
  .use_cases .use_case_block .content .p-large {
    margin-bottom: 1.25em;
  }
  
  .use_cases .use_case_block .content ul {
    margin-bottom: 4.25em;
  }
  
  .use_cases .use_case_block .content ul li {
    font-size: 1.25em;
    font-weight: 200;
    margin-bottom: .5em;
  }
  
  .use_cases .use_case_block .graphic {
    float: right;
    width: 150%;
    max-width: 62.5em;
  }